
# Ignoro archivos binarios 
Consola/Debug/Consola
FileSystem/Debug/FileSystem
Kernel/Debug/Kernel
Memoria/Debug/Memoria
cpu/Debug/cpu

# Ignoro archivos de compilacion eclipse
*.cproject
*.project

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Esto tampoco va jajaj
*.log

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.metadata/ #Agregado por Kernel
/.metadata/
